# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata# LulaWebsite


## What this is
New website created with `distill`

## Where it is

+ **Local Repo** - in /Users/luisamimmi/My Drive/Github/LulaWebsite
+ **Github Repo** - at [GH](https://github.com/Lulliter/LulaWebsite)
+ Deployed on **Github Pages website** - at [GH PAges](https://lulliter.github.io/LulaWebsite/)
+ re-sent to **custom domain registered with AWS** Route 53  - at [domain](https:www.lulliter.com)
		+ Configure AWS **Route 53** to use your custom vanity domain (see instructions [here](https://medium.com/@benwiz/how-to-deploy-github-pages-with-aws-route-53-registered-custom-domain-and-force-https-bbea801e5ea3))
		+ Set up AWS **Cloudfront Distributions** to link github.io/xxx to custom vanity domain (see instructions [here](https://medium.com/@bschandu67/host-your-website-using-github-pages-aws-route53-and-aws-cloudfront-7345493d2ea6))


## How to generate local version
1. From the Build pane, `blogdown::build_site()` |clicking on `Build Website` hammer icon
2. Type `rmarkdown::render_site()` into the R console.

## Structure

+ The file `./index.Rmd` = the main landing page of your website | fill it with the content you want on your main page.
+ The file `./_site.yml` = (called a YAML file) contains the main settings for your site that control the overall look.
+ The `./docs/*` folder =  created and updated when you build the website. It contains the html files that are created from your Rmd files. Those files will be used by Github to display your website
+ more content.... all you need to do is edit existing or create new R Markdown (`.Rmd`) files (or,)if you don’t use R code in your file, you could just use plain Markdown/md files)

# Acknowledgements
This great [tutorial](https://www.andreashandel.com/posts/distill-github-website/)
This impressive [example](https://qntkhvn.netlify.app/)
Too sophisticated: [maybe later](https://github.com/joelnitta/joelnitta-home) or [after](https://github.com/jhelvy/jhelvy_distill)


# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
